<body style="background-color: #1a202c;">
    
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">FEEDBACKS TABLE</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">ENTER CUSTOMER FEEDBACKS WITH ORDER ID DETAILS</p>
        </div>
        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
            <thead>
                <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">order_id</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">cust_name</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">dob</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">rating</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">review</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">contact</th>
                    <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in iteminfo %}
                    <tr>
                        <td class="px-4 py-3 text-lg text-white">{{i[0]}}</td>
                        <td class="px-4 py-3 text-lg text-white">{{i[1]}}</td>
                        <td class="px-4 py-3 text-lg text-white">{{i[2]}}</td>
                        <td class="px-4 py-3 text-lg text-white">{{i[3]}}</td>
                        <td class="px-4 py-3 text-lg text-white">{{i[4]}}</td>
                        <td class="px-4 py-3 text-lg text-white">{{i[5]}}</td>
                    </tr>  
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
            <a href="/home"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">HOME</button></a>
        </div>
        </div>
    </section>


</body>
