<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body bgcolor="#1A202C">
    <section class="text-gray-500 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="text-center mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-white mb-4">The Best Restaurant Manager</h1>
                <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Manage your restaurant in seconds. The easiest and fastest way to manage database. No prior knowledge or training required.</p>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">MENU CARD</h2>
                <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1">
                    <a class="mb-2" href="/itemtables">
                        <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                            <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>ITEMS
                    </a>
                    <a class="mb-2">
                    <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </span>ORDER ITEMS
                </nav>
                </div>
                <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">WAITERS</h2>
                <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1">
                    <a class="mb-2" href="/waitertables">
                    <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </span>WAITER TABLE
                    </a>
                    <a class="mb-2">
                    <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </span>ASSIGNED ORDERS
                    </a>
                </nav>
                </div>
                <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">CUSTOMERS</h2>
                <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1">
                    <a class="mb-2">
                    <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </span>CUTOMERS TABLE
                    </a>
                    <a class="mb-2">
                    <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </span>ORDERS GIVEN
                    </a>
                </nav>
                </div>
                <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">CHEF</h2>
                <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1">
                    <a class="mb-2" href="/cheftables">
                    <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </span>CHEF TABLE
                    </a>
                    <a class="mb-2" href="">
                    <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </span>ORDERS ASSIGNED
                    </a>
                </nav>
                </div>
                <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                    <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">FEEDBACKS</h2>
                    <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1">
                    <a class="mb-2">
                        <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                            <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                        </span>FEEDBACKS TABLE
                    </a>
                    </nav>
                </div>
                <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                    <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">ORDERS</h2>
                    <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1">
                    <a class="mb-2">
                        <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                            <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                        </span>ORDER TABLE
                    </a>
                    </nav>
                </div>
                <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                    <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">TABLES IN RESTRAUNT</h2>
                    <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1">
                    <a class="mb-2" href="/tablestables">
                        <span class="bg-gray-800 text-indigo-400 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                            <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                        </span>VIEW TABLES IN RESTRAUNT
                    </a>
                    </nav>
                </div>
            </div>
            <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">VIEW ALL TABLES</button>
            </div>
        </section>
</body>
</html>