<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hakuna Matata</title>
        <link rel="stylesheet" href="./static/styles.css" type="text/css">
        <link rel="stylesheet" href="./static/bootstrap.min.css" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body style="background-image: url('https://cdn.discordapp.com/attachments/897846774847373364/912418765994618990/background.jpg');">
    <header>
        <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <a href="/" class="pull-left visible-md visible-lg">
                <div id="image" alt="Logo image">
                <!-- <img src="/static/pic/hakuna_matata.jpg" height="150px"> -->
                </div>
            </a>

            <div class="navbar-brand">
                <a href="/"><h1>HAKUNA MATATA</h1></a>
            </div>

            
            </div>
            
            <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                <li id="navHomeButton">
                <a href="/login">
                    <i class="large material-icons">home</i><br class="hidden-xs"> Admin
                </a>
                </li>
                <li id="navMenuButton">
                <a href="/postmenu" onclick="$dc.loadMenuCategories();">
                    <i class="large material-icons">restaurant_menu</i><br class="hidden-xs"> Menu
                </a>
                </li>
                
                <li id="phone" class="hidden-xs">
                <a href="tel:932-509-7079">
                    <span>932-509-7079</span></a><div>* We Deliver</div>
                </li>
            </ul><!-- #nav-list -->
            </div><!-- .collapse .navbar-collapse -->
        </div><!-- .container -->
        </nav><!-- #header-nav -->
    </header>

    <div id="call-btn" class="visible-xs">
        <a class="btn" href="tel:932-509-7079">
        <span class="glyphicon glyphicon-earphone"></span>
        932-509-7079
        </a>
    </div>
    <div id="xs-deliver" class="text-center visible-xs">* We Deliver</div> 

    <div id="main-content" class="container">
        <div class="">
        <img src="/static/pic/restaurant.jpg" alt="Pic of restaurant" class="mainpic img-responsive visible-xs visible-lg visible-md visible-sm">
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="/postmenu" onclick="$dc.loadMenuItems('B');">
            <div id="menu-tile">
            <img src="/static/pic/biryani.jpg" alt="Pic of restaurant" class="img-responsive visible-xs visible-lg visible-md visible-sm">
            <span>MENU</span>
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="/postfeedback" onclick="$dc.loadMenuItems('B');">
            <div id="menu-tile">
            <img src="/static/pic/feedback.jpeg" height="100px" alt="Pic of restaurant" class="img-responsive visible-xs visible-lg visible-md visible-sm">
            <span>FEEDBACK</span>
            </div>
        </a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
        <a href="">
            <div id="map-tile">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1944.0205922404261!2d79.14209272132429!3d12.969216500742828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1603377311410!5m2!1sen!2sin" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <span>map</span>
            </div>
        </a>
        </div>
    </div>
    </div>

    <footer class="panel-footer" style="background-color: #222; color: white;">
        <div class="container">
        <div class="row">
            <section id="hours" class="col-sm-4">
            <span>Hours:</span><br>
            Sun-Thurs: 11:15am - 10:00pm<br>
            Fri: 11:15am - 2:30pm<br>
            Monday Closed
            <hr class="visible-xs">
            </section>
            <section id="address" class="col-sm-4">
            <span>Address:</span><br>
            New Thiruvalam Chitoor, Bus Road<br>
            Katpadi, Vellore, Tamil Nadu 632006
        
            <p>* Delivery area within 4-5 kilometres, with minimum order of 200Rs plus 30RS charge for all deliveries.</p>
            <hr class="visible-xs">
            </section>
            <section id="testimonials" class="col-sm-4">
            <p>"The best Indian restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
            <p>"Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"</p>
            </section>
        </div>
        <div class="text-center">&copy; Copyright Hakuna Matata 2021</div>
        </div>
    </footer>

    <!-- jQuery (Bootstrap JS plugins depend on it) -->

</body>
</html>