<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style1.css')}}"
			type="text/css"
		/>
		<title>Final Waiting Time</title>
	</head>

	<body>
		<!-- Big Banner -->
		<div class="dashboardBanner">We request you to wait</div>

		<!-- Section -->

		<section class="dashboardBG">
			<div class="container">
				<div class="dashboardCard">
					<div class="card-body text-center">
						<div class="mb-2">
							<span style="font-size: 1.7rem; font-family: 'Poppins'"
								>Restaurant Capacity =</span
							>
							<span class="capacityCount">30</span>
						</div>
						<div class="row inputCustom">
							<div class="col-sm-6 text-center">Inside Tarama</div>
							<div class="col-sm-6">
								<input type="text" name="zero" id="zero" multiple />
							</div>
						</div>
						<div class="row inputCustom">
							<div class="col-sm-6 text-center">Waiting Line</div>
							<div class="col-sm-6">
								<input type="text" name="one" id="one" />
							</div>
						</div>
						{% for i in range(2, result|length - 2) %}
						<div class="row inputCustom">
							<div class="col-sm-6 text-center">Group {{i-2}}:</div>
							<div class="col-sm-6">
								<input type="text" name="two" id="" value="{{result[i]}}" />
							</div>
						</div>
						{% endfor %}

						<div class="row inputCustom">
							<div class="col-sm-6 text-center">Total Waiting Time:</div>
							<div class="col-sm-6">
								<input
									type="number"
									name="seven"
									id=""
									value="{{result[result|length-2]}}"
								/>
							</div>
						</div>

						<div class="row inputCustom">
							<div class="col-sm-6 text-center">Average Waiting Time:</div>
							<div class="col-sm-6">
								<input
									type="number"
									name="seven"
									id=""
									value="{{result[result|length-1]}}"
								/>
							</div>
						</div>

						<div style="text-align: center; margin-top: 0.8rem">
							<a href="/report" class="btn btn-primary btn-lg getStarted"
								>Print Report</a
							>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script>
			document.querySelector('#zero').value = '{{result[0]}}';
			document.querySelector('#one').value = '{{result[1]}}';
		</script>
	</body>

	<script
		src="https://use.fontawesome.com/releases/v5.13.1/js/all.js"
		data-auto-replace-svg="nest"
	></script>
	<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"
	></script>
</html>
