<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: #1a202c;
        }
    </style>
</head>

<body>
    <div id="container-register">
        <div id="title">
            <i class="material-icons lock">lock</i> Register
        </div>

        <form method="POST">
            <div class="input" style="border: 2px solid #1a202c;">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input id="email" placeholder="Email" type="email" required class="validate" autocomplete="off" name="email" style="border: none;">
            </div>

            <div class="clearfix"></div>

            <div class="input" style="border: 2px solid #1a202c;">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="username" placeholder="Password" type="password" required class="validate" autocomplete="off" name="password" style="border: none;">
            </div>

            <div class="clearfix"></div>

            <div class="input" style="border: 2px solid #1a202c;">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Re-Type your Password" type="password" required class="validate" autocomplete="off" name="repassword" style="border: none;">
            </div>

            <div class="remember-me">
                <input type="checkbox"  id='checkbox' checked>
                <span style="color: #DDD">I accept Terms of Service</span>
            </div>

            <input type="submit" value="Register" style="border: 2px solid #667EEA;" />
        </form>

        <div class="privacy">
            <a href="/">Privacy Policy</a>
        </div>

        <div class="register">
            Do you already have an account?
            <a href="/login"><button id="register-link" style="border: 2px solid #667EEA;">Log In here</button></a>
        </div>
    </div>
    <script>
        document.querySelector('#checkbox').addEventListener('click', ()=>{
            document.querySelector('#checkbox').checked = true;
        })
    </script>
</body>

</html>