<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style1.css')}}"
			type="text/css"
		/>
		<title>Come on in 🤩</title>
	</head>

	<body>
		<!-- Big Banner -->
		<div class="dashboardBanner">Welcome to Hakuna Matata</div>

		<!-- Section -->

		<section class="dashboardBG">
			<div class="container">
				<div class="dashboardCard">
					<div class="card-body text-center">
						<form action="" , method="POST" id="enter">
							<div class="mb-2">
								<span style="font-size: 1.7rem; font-family: 'Poppins'"
									>Restaurant Status =</span
								>
								<span class="capacityCount">30</span>
							</div>
							<div id="allinputs">
								<div class="row inputCustom">
									<div class="col-sm-6 text-center">Arrival Time 0:</div>
									<div class="col-sm-6">
										<input type="number" name="0" id="in" />
									</div>
								</div>
							</div>
							<div>
								<button>+</button>
							</div>

							<!-- <div class="row inputCustom">
                            <div class="col-sm-6 text-center">
                                Arrival Time 1:
                            </div>
                            <div class="col-sm-6">
                                <input type="number" name="one" id="">
                            </div>
                        </div>

                        <div class="row inputCustom">
                            <div class="col-sm-6 text-center">
                                Arrival Time 2:
                            </div>
                            <div class="col-sm-6">
                                <input type="number" name="two" id="">
                            </div>
                        </div>

                        <div class="row inputCustom">
                            <div class="col-sm-6 text-center">
                                Arrival Time 3:
                            </div>
                            <div class="col-sm-6">
                                <input type="number" name="three" id="">
                            </div>
                        </div>

                        <div class="row inputCustom">
                            <div class="col-sm-6 text-center">
                                Arrival Time 4:
                            </div>
                            <div class="col-sm-6">
                                <input type="number" name="four" id="">
                            </div>
                        </div> -->

							<div style="text-align: center; margin-top: 0.8rem">
								<button class="btn btn-primary btn-lg getStarted">
									Submit
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<script>
			const button = document.querySelector('button');
			button.addEventListener('click', (e) => {
				e.preventDefault();
				const mainclass = document.querySelector('#allinputs');
				const noofinputs = document.querySelectorAll('.row').length - 1;
				div1 = document.createElement('div');
				div1.setAttribute('class', 'row inputCustom');
				insidediv11 = document.createElement('div');
				insidediv11.setAttribute('class', 'col-sm-6 text-center');
				insidediv11.textContent = 'Arrival Time ' + noofinputs + ' :';
				insidediv12 = document.createElement('div');
				insidediv12.setAttribute('class', 'col-sm-6');
				input = document.createElement('input');
				input.name = noofinputs;
				input.id = 'in';
				insidediv12.append(input);
				div1.append(insidediv11, insidediv12);
				mainclass.append(div1);
			});
		</script>
	</body>

	<script
		src="https://use.fontawesome.com/releases/v5.13.1/js/all.js"
		data-auto-replace-svg="nest"
	></script>
	<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"
	></script>
</html>
